// *******************************************************************************
// Copyright (c) 2026 Contributors to the Eclipse Foundation
//
// See the NOTICE file(s) distributed with this work for additional
// information regarding copyright ownership.
//
// This program and the accompanying materials are made available under the
// terms of the Apache License Version 2.0 which is available at
// <https://www.apache.org/licenses/LICENSE-2.0>
//
// SPDX-License-Identifier: Apache-2.0
// *******************************************************************************

/// Messages
///
/// This module contains the definition of messages
/// to be used within this application.
use postcard::experimental::max_size::MaxSize;
use serde::{Deserialize, Serialize};

/// Example message for inter-activity communication
#[derive(Serialize, Deserialize, MaxSize, Debug, Default)]
#[repr(C)]
pub struct ExampleMessage {
    pub value: u32,
    pub timestamp: u64,
}
