# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

cc_binary(
    name = "af_hello_world",
    srcs = [
        "hello_world_app.hpp",
        "main.cpp",
    ],
    deps = [
        "@score_inc_daal//src:daal_app_executor_builder",
        "@score_inc_daal//src:daal_app_handler_singleshot",
        "@score_inc_daal//src:daal_checkpoint",
        "@score_inc_daal//src:daal_logger",
        "@score_inc_daal//src:daal_os_helper",
        "@score_inc_daal//src:daal_trigger",
        "@score_inc_daal//src:dummy_execution_environment",
    ],
)